annotated-types
ansi2html
anyio
asgiref
asttokens
Brotli
build
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
dash
dash-bootstrap-components
debugpy
decorator
distro
Django
exceptiongroup
executing
Flask
Flask-Compress
Flask-Login
fonttools
greenlet
gunicorn==22.0.0

h11
httpcore
httpx
idna
importlib-metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mkl-fft
mkl-random
mkl-service==2.4.0

mlops
nest-asyncio
numpy
openai
packaging
pandas==2.2.2

parso
pep517
pickleshare
pillow
platformdirs
plotly
ply
prompt-toolkit
psutil
pure-eval
pydantic
pydantic_core
Pygments
pyparsing
PyQt5==5.15.10

PyQt5-sip
PySocks
python-dateutil
pytz==2024.1

pywin32==305.1

pyzmq
requests
retrying
schedule
setuptools==69.5.1

sip
six
sniffio
SQLAlchemy
sqlparse
stack-data
tenacity
tomli
tornado
tqdm
traitlets
typing_extensions
tzdata
unicodedata2
urllib3
waitress
wcwidth
Werkzeug
wheel==0.43.0

win-inet-pton
zipp
